<h1>Welcome to Book Notes Club!</h1>
<p>
  Your <b>access code</b> is: <%= @golden_ticket.code %><br>
</p>
<p>
  Sign up page: <%= @signup_url %>
</p>
<p>You are receiving this email because at some point you joined our waiting list.</p>
<p>Thanks for joining and have a great day!</p>
