.text-center {
  text-align: center;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hide-bullet {
  list-style-type: none;
}

.grey {
  color: grey;
}
