.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.exercise{
  justify-content: center;
}

input.correct-answer {
  color: green;
}

input.wrong-answer {
  color: red;
}

.exercise {
  padding-top: 20px;
}

.exercise-core {
  padding-top: 20px;
}

.sentence-to-complete {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  color: grey;
}

.display-linebreak {
}

.multiple-choice-options {
  padding-top: 20px;
  text-align: left;
}

.multiple-choice-text {
  white-space: pre-line;
  text-align: justify;
}

.multiple-choice-options table {
  width: 100%;
}

.multiple-choice-options td {
  cursor: pointer;
}

.multiple-choice-choice {
  background-color: aquamarine;
}
